# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Matt Ngo
#	email = matthewngo98@gmail.com
[user]
	email = matthewngo98@gmail.com
	name = Matt Ngo
[credential]
	helper = osxkeychain
